<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ryvn@fpuvgb.zr</string>
	<key>contactName</key>
	<string>Elia Schito, Chris Streeter, Leonardo Collado Torres, Michael Sheets</string>
	<key>description</key>
	<string>&lt;a href="http://daringfireball.net/projects/markdown/"&gt;Markdown&lt;/a&gt; allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML. This bundle provides preview functionality, syntax highlighting, and several useful commands.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>A2B854C4-044E-44A6-B28B-5CADA571F780</string>
			<string>70120ECC-B129-4479-8A9C-F25D64037039</string>
			<string>BE79A69A-B9F5-4BCD-9068-893496E86663</string>
			<string>13D9017E-932F-41F3-BB6E-F8E832F63DB3</string>
			<string>212BF544-314C-4912-B12A-450C62431FC4</string>
			<string>4405912F-4AD5-40F8-93B3-A63394036ACA</string>
			<string>------------------------------------</string>
			<string>29B9DD01-6FB1-4A61-AD43-26F27408D378</string>
			<string>C7A9FD0F-3CF1-4B4A-8392-D943B12603E4</string>
			<string>------------------------------------</string>
		</array>
	</dict>
	<key>name</key>
	<string>Markdown Redcarpet</string>
	<key>uuid</key>
	<string>8E661847-EB51-4B07-8795-EA918DEE760C</string>
</dict>
</plist>
